<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Menú Principal</h1>
    
    <form action="/accion" method="post">
        <button type="submit" name="opcion" value="anadir">Añadir</button>
        <button type="submit" name="opcion" value="modificar">Modificar</button>
        <button type="submit" name="opcion" value="eliminar">Eliminar</button>
        <button type="submit" name="opcion" value="consultar">Consultar</button>
    </form>

</body>

</html>
